
h2 {
    color:#FB8E54;
}
.promo-bg {
    background-image: url(images/crochet\ promo\ image\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*orange heading color: #FB8E54 */